<form class="mt-4">
    <div class="form-group">

        <h1>Xin chào, {{user.username}}!</h1>
        <p>Email của bạn: {{user.email}}</p>
        <!-- Các thông tin khác về người dùng -->

        <input type="text" name="q" class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Enter email">

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>