@import "variables";

// * {
//   font-family: sans-serif;
// }
.namePage {
  font-family: sans-serif;
}
.card-course-item {
  margin-top: 16px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}
// css show.hbs

/* CSS tùy chỉnh cho hình ảnh cùng một kích thước */
// .custom-image-size {
//   height: 300px; /* Đặt chiều cao ảnh */
//   width: auto; /* Đặt chiều rộng tự động để giữ tỷ lệ khung hình */
// }

// /* CSS để căn giữa hình ảnh trong div */
// .image-container {
//   height: 300px; /* Đặt chiều cao cho container */
//   display: flex;
// }
