<div style="height: 500px;"
    class="d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-center m-5">Bạn cần đăng nhập để được truy cập vào trang này !</h1>
    <a href="/createAccount/login" class="text-center m-2">Đăng nhập</a>
</div>
